.container {
    max-width:900px;
    margin:40px auto;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(90deg, #005eff, #00b7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}